In [9]:
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00247/data_akbilgic.xlsx'
df = pd.read_excel(url)

/home/yoonk/anaconda3/envs/time/lib/python3.9/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [10]:
headers = df.iloc[0]
headers[1] = 'ISE(TL)'
headers[2] = 'ISE(USD)'

print(headers)

Unnamed: 0        date
TL BASED       ISE(TL)
USD BASED     ISE(USD)
imkb_x              SP
Unnamed: 4         DAX
Unnamed: 5        FTSE
Unnamed: 6      NIKKEI
Unnamed: 7     BOVESPA
Unnamed: 8          EU
Unnamed: 9          EM
Name: 0, dtype: object

In [11]:
new_df  = pd.DataFrame(df.values[1:], columns=headers)

new_df.head()

,date,ISE(TL),ISE(USD),SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
0,2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0,0.03119,0.012698,0.028524
1,2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.01892,0.011341,0.008773
2,2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
3,2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
4,2009-01-09,0.00986,0.009658,-0.021533,-0.019873,-0.01271,-0.004474,-0.009764,-0.010989,-0.007802

In [12]:
ise_usd_dummy = pd.get_dummies(new_df['ISE(USD)'])

ise_usd_dummy.head()

/tmp/ipykernel_540224/4172930952.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  ise_usd_dummy = pd.get_dummies(new_df['ISE(USD)'])

,-0.084716,-0.076967,-0.073526,-0.057319,-0.053827,-0.050687,-0.049776,-0.046440,-0.044349,-0.043907,...,0.045764,0.046046,0.050339,0.051331,0.051558,0.052522,0.061285,0.061708,0.073005,0.100621
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0