In [1]:
import pandas as pd
import os

In [2]:
currend_dir = os.getcwd()

# currend_dir

In [3]:
currend_dir = os.getcwd()

file_path = currend_dir + '/Data/household_power_consumption.csv'


# 데이터셋 파일을 판다스 데이터프레임으로 읽어오기
# df = pd.read_csv(file_path, delimiter=";", na_values="?")
df = pd.read_csv(file_path, na_values="?")

In [4]:
df.head()

,Unnamed: 0,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [5]:
# 더미 변수로 변환할 특정 컬럼 선택
columns_to_dummy = ['Global_active_power']

df_dummy = pd.get_dummies(df["Global_active_power"], drop_first=True)

df_concat = pd.concat([df, df_dummy], axis=1)

In [ ]:
df_dummy.head()

,0.078,0.080,0.082,0.084,0.086,0.088,0.090,0.092,0.094,0.096,...,10.064,10.074,10.154,10.162,10.290,10.348,10.536,10.650,10.670,11.122
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_concat

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,0.078,...,10.064,10.074,10.154,10.162,10.29,10.348,10.536,10.65,10.67,11.122
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0,0,...,0,0,0,0,0,0,0,0,0,0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0,0,...,0,0,0,0,0,0,0,0,0,0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0,0,...,0,0,0,0,0,0,0,0,0,0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0,0,...,0,0,0,0,0,0,0,0,0,0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2075255,26/11/2010,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2075256,26/11/2010,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2075257,26/11/2010,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2075258,26/11/2010,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0